html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "header header header header"
    "sidebar content content content";

  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 50px 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "sidebar"
      "content";
  }
}

.header {
  background: green;
  grid-area: header;
}

.content {
  background: blue;
  grid-area: content;
}

.sidebar {
  background: red;
  grid-area: sidebar;
}
